.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.button {
  position: relative;
  left: 0px;
  display: inline-block;
  width: 140px;
  margin-right: 14px;
  padding: 13px 23px;
  border-radius: 3px;
  background-color: #30813f;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease,
    color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease,
    color 300ms ease;
  font-family: "Roboto Slab", sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #489fd9;
}

.button.hollow {
  margin-right: 0px;
  border: 1px solid #30813f;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 2px #30813f;
  color: #30813f;
  text-shadow: none;
}

.button.hollow:hover {
  background-color: #489fd9;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 2px #489fd9;
  color: #fff;
  text-shadow: none;
}

.logo-text {
  margin-top: 24px;
  font-family: "Roboto Slab", sans-serif;
  color: #1c1c1c;
  font-size: 27px;
  font-weight: 500;
}

.logo-text.footer {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #e6eaed;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff7f0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.13);
}

.nav-link {
  padding: 26px 17px;
  box-shadow: inset 0 3px 0 0 transparent;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
}

.nav-link:hover {
  box-shadow: inset 0 3px 0 0 hsla(0, 0%, 71%, 0.5);
}

.nav-link.w--current {
  box-shadow: inset 0 3px 0 0 #4dbd90;
  color: #4dbd90;
}

.section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section.main {
  margin-top: 0px;
  padding-bottom: 0px;
  background-color: #4dbd90;
  background-image: url("../images/Miami-Family-Street-under-trees-Getty-reduced.jpeg");
  background-position: 50% 50%;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.23);
}

.section.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(43, 44, 46, 0);
  color: rgba(255, 255, 255, 0);
  -o-object-fit: fill;
  object-fit: fill;
}

.section.press {
  padding-top: 29px;
  padding-bottom: 38px;
  background-color: #3e5c50;
}

.section.off-white-bg {
  background-color: #fffef4;
}

.section.testimonials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-subtitle {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 1px 6px #000, 0 1px 20px #000;
}

.social-icon {
  max-width: 50px;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 1;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.social-icon:hover {
  opacity: 1;
}

.social-icon-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  padding-top: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.brand-link {
  text-decoration: none;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 20px #000;
}

.testimonial-slider {
  display: none;
  height: auto;
  margin-top: 20px;
  background-color: transparent;
}

.testimony-slide {
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.testimony-text {
  margin-bottom: 21px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 25px;
  line-height: 31px;
  font-weight: 300;
}

.slide-nav {
  display: none;
  font-size: 10px;
}

.person {
  width: 70px;
  margin-bottom: 13px;
  border-radius: 100%;
}

.name {
  font-weight: 500;
}

.slider-arrow {
  width: 50px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 32px;
}

.slider-arrow:hover {
  color: #000;
}

.small-text {
  color: hsla(0, 0%, 100%, 0.31);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading {
  color: #dadada;
  font-size: 20px;
  font-weight: 500;
}

.paragraph {
  color: #ececec;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff7f0;
}

.body.offwhitebg {
  background-color: #fff7f0;
}

.heading-2 {
  padding-bottom: 20px;
}

.image {
  max-width: 15rem;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container-2 {
  margin-right: auto;
  margin-left: auto;
}

.section-2 {
  margin-top: 73px;
  background-color: transparent;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(hsla(0, 0%, 100%, 0.48))
    ),
    -webkit-gradient(linear, left top, left bottom, from(rgba(48, 129, 63, 0.3)), to(rgba(48, 129, 63, 0.3))),
    radial-gradient(circle farthest-corner at 50% 50%, #fff, #30813f);
  background-image: linear-gradient(
      180deg,
      transparent,
      hsla(0, 0%, 100%, 0.48)
    ),
    linear-gradient(180deg, rgba(48, 129, 63, 0.3), rgba(48, 129, 63, 0.3)),
    radial-gradient(circle farthest-corner at 50% 50%, #fff, #30813f);
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container-3.top-padding-20 {
  padding-top: 20px;
}

.page-heading {
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
}

.page-subheading {
  margin-top: 20px;
  font-family: Lato, sans-serif;
}

.paragraph-2 {
  font-style: normal;
}

.grid {
  grid-template-areas:
    "Area Area-2 Area-3"
    "Area-4 Area-5 Area-6"
    "Area-7 Area-8 Area-9"
    "Area-10 . Area-11";
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.name-text {
  padding-top: 0px;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
}

.paragraph-3 {
  text-align: center;
}

.text-block {
  text-align: center;
}

.form-block {
  padding-top: 20px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-2 {
  max-width: 50px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.image-3 {
  max-width: 50px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.image-4 {
  max-width: 50px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.image-5 {
  max-width: 50px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.success-message {
  background-color: rgba(159, 252, 156, 0.69);
  opacity: 1;
}

.paragraph-4 {
  text-align: center;
}

.grid-2 {
  grid-template-areas:
    "Area Area-2"
    "Area-3 Area-3";
}

.container-4 {
  padding-top: 20px;
}

.footer-dark {
  position: relative;
  padding: 50px 30px 15px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.container-5 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  -ms-grid-columns: auto auto 1fr;
  grid-template-columns: auto auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.title-small {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-link {
  margin-top: 12px;
  margin-bottom: 6px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-social-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-left: -12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
  background-color: #e4ebf3;
}

.footer-copyright-center {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.body-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-4 {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2b2c2e;
}

.div-block-5 {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px none #000;
  border-radius: 0px;
}

.grid-3 {
  grid-template-areas:
    "Area Area-2 Area-7"
    "Area-3 Area-3 Area-3"
    "Area-4 Area-4 Area-4"
    "Area-5 Area-5 Area-5"
    "Area-6 Area-6 Area-6";
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-field {
  max-width: 75px;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-13 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-14 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-15 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-3 {
  text-align: center;
}

.html-embed {
  position: relative;
  display: block;
  overflow: visible;
  width: 100%;
  height: 100px;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.container-6 {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.html-embed-2 {
  overflow: hidden;
  max-width: 100vw;
  min-height: 500px;
}

.container-7 {
  max-width: 80vw;
}

.secondary-subtitle {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 0 6px #000, 0 -1px 0 #000;
}

.secondary-subtitle.noshadows {
  color: #cecece;
  text-shadow: none;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-shadow: 0 1px 0 rgba(255, 0, 0, 0.23);
}

.div-block-16 {
  padding-top: 5px;
  padding-bottom: 10px;
}

.cardtitle {
  font-family: Lato, sans-serif;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
}

.div-block-17 {
  font-weight: 400;
}

.image-6 {
  border-radius: 50px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding: 0px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.columns {
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}

.section-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.image-7 {
  max-width: 20rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.div-block-18 {
  width: 20rem;
}

.div-block-19 {
  padding-right: 10px;
  padding-left: 10px;
}

.container-9 {
  text-align: center;
}

.section-7 {
  overflow: hidden;
}

.paragraph-5 {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.link {
  text-align: center;
}

.banner-wrapper {
  overflow: hidden;
  margin-top: 34px;
}

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  background-color: #30813f;
  font-size: 25px;
  font-weight: 500;
}

.text-wrapper {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.banner-text {
  margin-bottom: 0px;
  font-family: Oswald, sans-serif;
  color: #fff7f0;
  line-height: 50px;
  text-align: center;
}

.button-2 {
  position: static;
  left: auto;
  top: -44px;
  right: 0px;
  display: inline-block;
  padding-top: 15px;
  background-color: rgba(56, 152, 236, 0);
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.quotes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.testimonial-image-left {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
}

.testimonial-wrapper-four {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.testimonial-left {
  width: 30%;
  margin-right: 64px;
}

.testimonial-image-four {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.testimonial-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-small {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.testimonial-text-four {
  margin-bottom: 32px;
}

.testimonial-author-name-three {
  margin-bottom: 10px;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-8 {
  border-radius: 100%;
}

.quote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.quote-content {
  max-width: 300px;
}

.quote-picture {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border-radius: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-21 {
  height: 50%;
}

.white-link {
  color: #f7f7f7;
}

.body-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff7f0;
}

.section-8 {
  text-align: center;
}

.newsletter-field {
  margin-right: 0px;
}

.form-block-2 {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.container-10 {
  text-align: center;
}

.section-9 {
  text-align: center;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.business-image {
  width: 150px;
  height: 150px;
  max-width: none;
  -o-object-fit: contain;
  object-fit: contain;
}

.section-10 {
  text-align: center;
}

.paragraph-6 {
  text-align: justify;
}

.body-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.paragraph-7 {
  padding-top: 20px;
  text-align: center;
}

.html-embed-3 {
  width: 800px;
  max-width: 800px;
  color: #30813f;
  text-align: center;
}

.div-block-24 {
  margin-right: auto;
  margin-left: auto;
}

.body-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.body-6 {
  background-color: #fff7f0;
}

@media screen and (max-width: 991px) {
  .nav-link {
    padding: 18px 0px;
    color: #fff;
  }

  .nav-link:hover {
    box-shadow: inset 0 3px 0 0 transparent;
  }

  .nav-link.w--current {
    box-shadow: inset 0 1px 0 0 transparent;
  }

  .nav-link.menu {
    padding: 22px 17px;
    color: #000;
    font-size: 30px;
  }

  .nav-link.menu.w--open {
    background-color: #000;
    color: #fff;
  }

  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #000;
  }

  .testimonial-slider {
    display: block;
  }

  .container-5 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .section-6 {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .div-block-18 {
    display: none;
    overflow: visible;
  }

  .quotes {
    display: none;
  }

  .testimonial-left {
    width: 40%;
    margin-right: 40px;
  }

  .html-embed-3 {
    max-width: 100vw;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    margin-bottom: 8px;
  }

  .logo-text {
    margin-top: 15px;
  }

  .nav-link.menu {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .section {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }

  .section.main {
    margin-top: 12px;
  }

  .main-subtitle {
    font-size: 26px;
  }

  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }

  .social-icon-group {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main-heading {
    font-size: 40px;
  }

  .grid {
    overflow: hidden;
  }

  .section-3 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .section-4 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .footer-dark {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-content {
    margin-top: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, 0.75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .secondary-subtitle {
    font-size: 20px;
  }

  .container-8 {
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .section-6 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .banner-wrapper {
    margin-top: 0px;
  }

  .banner-text {
    font-size: 16px;
  }

  .button-2 {
    font-size: 16px;
  }

  .testimonial-image-left {
    padding: 60px 15px;
  }

  .testimonial-wrapper-four {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .testimonial-left {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .testimonial-image-four {
    height: auto;
  }

  .heading-small {
    font-size: 28px;
    line-height: 36px;
  }

  .form-3 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .navigation {
    z-index: 1;
  }

  .section.main {
    z-index: auto;
    display: block;
    overflow: visible;
    margin-top: 0px;
    padding-top: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-size: cover;
  }

  .section.press {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section.testimonials {
    display: block;
    padding-left: 10px;
  }

  .main-subtitle {
    font-size: 25px;
  }

  .social-icon {
    max-width: 45px;
  }

  .social-icon-group {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .brand-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .main-heading {
    font-size: 35px;
  }

  .heading {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .paragraph {
    font-size: 13px;
  }

  .heading-2 {
    padding-bottom: 10px;
  }

  .image {
    max-width: 10rem;
  }

  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .grid {
    overflow: hidden;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-auto-flow: row dense;
    grid-template-areas:
      "Area Area-2"
      "Area-4 Area-5"
      "Area-7 Area-8"
      "Area-10 Area-6"
      "Area-11 Area-9"
      "Area-3 .";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .textarea {
    margin-right: 0px;
  }

  .container-5 {
    max-width: none;
  }

  .container-6 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .html-embed-2 {
    overflow: hidden;
    width: 90%;
    max-width: 100vw;
    margin-right: auto;
    margin-left: auto;
  }

  .container-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .secondary-subtitle {
    font-size: 15px;
  }

  .secondary-subtitle.noshadows {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .container-8 {
    margin-top: 0px;
  }

  .div-block-16 {
    padding-bottom: 0px;
  }

  .paragraph-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .banner-wrapper {
    margin-top: 52px;
  }

  .banner {
    min-height: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .text-wrapper {
    padding-bottom: 10px;
  }

  .banner-text {
    font-size: 12px;
    line-height: 15px;
  }

  .button-2 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .heading-small {
    font-size: 24px;
    line-height: 32px;
  }

  .div-block-21 {
    min-width: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .div-block-22 {
    margin-right: 10px;
    margin-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .paragraph-6 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

#w-node-_71423895-dc8c-aad2-18df-8c2a69e3e6d2-38beb7bc {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

.grid-2 > #w-node-_71423895-dc8c-aad2-18df-8c2a69e3e6d2-38beb7bc {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-3 > #w-node-_71423895-dc8c-aad2-18df-8c2a69e3e6d2-38beb7bc {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-_3fc55914-1e99-ae70-f752-9583108f945c-38beb7bc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_75c5f009-5658-a628-0a06-5152d1bb8912-38beb7bc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f9507901-1a7a-3661-996b-8008b34d71ce-38beb7bc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a88c87d4-f13c-0aa9-3bc7-34c5e9e7d258-38beb7bc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7c4a3e12-8ae3-3aad-684c-48173464d190-38beb7bc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5f877e69-f77a-3701-2708-9acf8e1fc988-38beb7bc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9a942254-c3be-3e2f-38a4-517f5851e29c-38beb7bc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b28ab14c-5ea7-1588-e443-3c90ad54954f-38beb7bc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4d502e08-ea92-52a8-c72b-b57f2ba2078d-38beb7bc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a00b75a8-55e7-6c99-561b-2e80c8fde731-38beb7bc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5a08d4bb-6d34-c230-de93-385706e275db-38beb7bc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dcc30f6a-4b9b-1db8-ccac-043b147cb1cf-e66434e4 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Area-3;
}

.grid-2 > #w-node-dcc30f6a-4b9b-1db8-ccac-043b147cb1cf-e66434e4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
}

.grid-3 > #w-node-dcc30f6a-4b9b-1db8-ccac-043b147cb1cf-e66434e4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

#w-node-_44080a57-9b24-c468-fcd4-aec52414e454-e66434e4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

.grid-2 > #w-node-_44080a57-9b24-c468-fcd4-aec52414e454-e66434e4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-3 > #w-node-_44080a57-9b24-c468-fcd4-aec52414e454-e66434e4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-d9b9cd3e-1900-0403-2382-99071696310b-e66434e4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Area-2;
}

.grid-2 > #w-node-d9b9cd3e-1900-0403-2382-99071696310b-e66434e4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-3 > #w-node-d9b9cd3e-1900-0403-2382-99071696310b-e66434e4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

@media screen and (max-width: 479px) {
  #w-node-_71423895-dc8c-aad2-18df-8c2a69e3e6d2-38beb7bc {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #w-node-dcc30f6a-4b9b-1db8-ccac-043b147cb1cf-e66434e4 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  #w-node-_44080a57-9b24-c468-fcd4-aec52414e454-e66434e4 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #w-node-d9b9cd3e-1900-0403-2382-99071696310b-e66434e4 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}
