:root {
  font-size: 100%;
  font-family: "Roboto";
  --primary-green: #30813f;
  --gray-green: #3e5c50;
  --offset-gray-green: #cecece;
  --mobile: 480px;
  --tablet: 768px;
}

body {
  font-family: "Roboto";
  margin: 0;
  background-color: seashell;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ul {
  margin: initial;
}

.container {
  max-width: min(70%, 60rem);
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-item {
  margin: 0px 10px;
  max-width: 70%;
}

@media (max-width: 480px) {
  .container {
    max-width: 90%;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  .flex-row {
    margin: 0px;
  }
}

button {
  cursor: pointer;
  transition: background-color 300ms ease, box-shadow 300ms ease,
    color 300ms ease;
}

.primary-button:hover {
  background-color: #489fd9;
}

.primary-button {
  background-color: var(--primary-green);
  min-width: 140px;
  color: white;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  font-family: "roboto slab";
  border-radius: 3px;
}

.secondary-button {
  background-color: white;
  min-width: 140px;
  color: var(--primary-green);
  border-color: var(--primary-green);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  font-family: "roboto slab";
}

.secondary-button:hover {
  background-color: #489fd9 !important;
  color: white;
}

.page-heading {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  background-image: linear-gradient(
      180deg,
      transparent,
      hsla(0, 0%, 100%, 0.48)
    ),
    linear-gradient(180deg, rgba(48, 129, 63, 0.3), rgba(48, 129, 63, 0.3)),
    radial-gradient(circle farthest-corner at 50% 50%, #fff, #30813f);
}

.page-subheading {
  margin: 2rem 0 0.8rem 0;
  font-size: 2rem;
  font-weight: 500;
  font-family: Lato, sans-serif;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-text-input {
  margin: 0.3rem auto;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1rem;
  border: 1px solid #cccccc;
  text-align: center;
}

.form-currency-input {
  margin: auto auto;
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.3rem;
  border: 1px solid #cccccc;
  text-align: center;

  padding-left: 18px;
  width: 8rem;
  text-align: right;
  -moz-appearance: textfield;
}
.form-currency-input::-webkit-outer-spin-button,
.form-currency-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-currency-container {
  position: relative;
}

.form-currency-container::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "$";
  left: 0.25rem;
  font-size: 1.3rem;
}

.form-select {
  display: block;
  font-family: Roboto;
  font-weight: 400;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #f3f3f3;
  border: 1px solid #cccccc;
}

.form-label {
  flex-grow: 1;
  text-align: left;
  /* margin-top: 1rem; */
  font-weight: 700;
}

.form-inline-label {
  margin: auto 0;
  font-weight: 700;
  text-align: left;
}

.hidden {
  visibility: none !important;
}

.card {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.575);
  max-width: 60rem;
}

.inlineFlex {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.material-symbols-filled {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
